/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/08/2018, 15:52:27
    Author     : Amanda
*/
.is-vertical-center {
    display: flex;
    align-items: center;
}

div.is-rounded{
    border-radius: 290486px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.block{display:block}
.none{display:none}

.p10{
    padding: 15px 15px 15px 10px;
}

.is-orange{
    color:white;
    background-color: #e37b40;
}

.button.is-orange {
    background-color: #e37b40;
    border-color: #e37b40;
    color: white;
}
.button.is-orange:hover {
    background-color: #D1713B;
    border-color: #D1713B;
}

.is-orange a{
    color:rgba(0,0,0,.7);
}

.is-orange a:hover{
    color:rgba(0,0,0,.7);
    background-color: rgba(124,62,27,.1);
}

.h100{
    height: 100vh;
    overflow: hidden;
}

.background-gray{
    background-color: #e9ebee;
}

div.media-box{
    background-color: white;
    border: 1px solid #dddfe2;
    margin-bottom: .5rem;
    border-radius: 5px;
    padding: 0;
}

.criar-publicacao{
    padding: 10px;
}

.menu{
    padding: 10px;
}

.media-box nav div.file span{
    background-color: #f1f1f1;
    border-color: #f1f1f1;
    padding: 0;
    height: 1rem;
}

.media-box nav div.file input{
    height: .5rem;
    overflow: hidden;
}

.breadcrumb:not(:last-child), div.cardapio, .header-pag{
    margin-bottom: 0;
    padding: 10px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f1f1f1;
}

.header-busca{
    margin-bottom: 0;
    padding: 10px 15px 0 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f1f1f1;
}

.r-usuarios, .r-estabelecimentos{
    padding: 10px 15px;
}
.card{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.is-pointer{
    cursor: pointer;
}

.comentario{
    padding: 10px;
    font-size: .9rem;
    border-top: 1px solid #dddfe2;
}

.comentario:not(.media:last-child) .media {
    border-bottom: 1px solid #dddfe2;
}

.textarea{
    resize: none;
}

.has-text-green{
    color:rgba(10,10,10,.2);
}

a.button-send .fa-paper-plane{
    color:white;
}

a.button-send .fa-paper-plane:hover{
    color:#e37b40;
}

.title-comentario{
    font-weight: 600;
}

.background{
    background: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.box-login{
    height: 100%;
    background-color: rgba(0,0,0,.8);
    text-align: center;
    margin: 0;
    padding: 0;
}
.box-login label, .box-login h5{
    text-align: left;
    font-weight: 400;
}
.box-login h5{
    font-size: 1.15rem;
    margin-bottom: 1rem !important;
    border-bottom: 1px solid #4a4a4a;
}
.box-login .label:not(:last-child){
    margin-bottom: .1rem;
}
.box-login div.box{
    padding: 2.5rem 1.5rem;
}

.logo{
    width: 80%;
    max-width: 150px;
    margin-bottom: 1rem;
    display: inline-block;
}

.notf{
    padding: .5rem 1.75rem;
}

.fotoperfil{
    margin-bottom: 2.5rem;
    padding: 30px 10px 0 10px;
}

.fotoperfil .file-label{
    display: block;
}

.fotoperfil .file-name{
    border-width: 1px;
}

.fotoperfil input{
    display: block;
}

.fotoperfil figure{
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 290486px;
    overflow: hidden;
    margin: 0 auto 1rem auto;
}

aside.menu{
    padding: 0;
}
aside.menu li{
    padding: 5px 15px;
}

aside.menu li ul{
    padding: 0;
}

aside.menu .link-ativo{
    border-left: 3px solid #e37b40;
    border-right: 2px solid #e9ebee;
    background-color: #e9ebee;
    color: #4a4a4a !important;
    font-weight: 500;
}

aside.menu .menu-label{
    margin-bottom: 0;
}

.footer-form, .box-login input[type=submit]{
    margin-top: 1rem;
}

.footer-form{
    font-size: 12px;
}

div.modal-content{
    width: 400px;
}
.item-cardapio{
    padding: 10px;
}
.form-cardapio{
    width: auto;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}
.file-custom{
    margin-top: .75rem;
    margin-bottom: .75rem;
}
div.file-custom span.file-name{
    width: 60%;
    max-width: 300px;
    border-width: 1px;
}

div.estrelas input[type=radio] {
    display: none;
}
.gold{
    /*content:'\f005';*/
    color: #FC0;
}

.item-cardapio .media-right a:first-child{
    margin-right: .5rem;
}

.modal{
    max-width: 750px;
}

.navbar{
    z-index: 1;
}

div.dropdown-menu .dropdown-content{
    min-width: 250px;
}
.navbar-item div.dropdown-content figure img{
    height: 100% !important;
    max-height: 64px;
}

div.r-usuarios figure, div.r-estabelecimentos figure{
    max-height: 150px;
    width: 150px;
    overflow: hidden;
}
div.r-usuarios figure img, div.r-estabelecimentos figure img{
    max-height: 100%;
}

.amigos-item{
    padding: 10px 10px 0 10px;
}
.amigos-item:last-child{
    padding: 10px;
}
.amigos-item figure img{
    width: 100%;
    max-width: 150px;
    height: 100%;
    max-height: 150px;
}
@media screen and (max-width: 770px){
    .h100{
        height: auto;
        overflow: inherit;
    }
    .box-login{
        padding: 1rem 0;
        height: 100%;
    }
}

