@keyframes fundoAnimado {
    0%{
        background-position: 0 0, 0 0;
    }
    50%{
        background-position: 50% 0, 50% 0;
    }
    100%{
        background-position: 100% 0, 100% 0;
    }
}
div.background, div.overflow{
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
div.background{
    background-image: url('../img/bg.jpg'), url('../img/bg.jpg');
    background-repeat: repeat-y;
    z-index: -2;
}
div.overflow{
    background-color: rgba(17, 17, 17, .9);
    z-index: -1;
}

/**
 * FORMULARIO DE LOGIN
 * =======================================
 */

div.logo{
    width: 75%;
    height: 50px;
    margin: 0 auto;
    position: relative;
}

div.logo img{
    width: 100%;
    height: 100%;
}

div.box-login{
    top: 50%;
    left: 50%;
    width: 30%;
    max-width: 350px;
    min-width: 250px;
    border-radius: 5px;
    position: absolute;
    background-color: white;
    transform: translate(-50%, -50%);
    padding: 2%;
}

div.box-login form {
    margin-top: 20px;
}

div.box-login form input{
    width: 100%;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #898989;
    border-radius: 5px;
}
div.box-login form input:not([type=submit]){
    padding: 8px 5px;
}

div.box-login form input[type=submit]{
    color: white;
    font-weight: 600;
    padding: 10px 0;
    cursor: pointer;
    margin-bottom: 35px;
    background-color: #f36523;
}

div.footer-form{
    border: 1px solid transparent;
    -webkit-box-shadow: 0px -2px 9px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow:    0px -2px 9px 0px rgba(50, 50, 50, 0.4);
    box-shadow:         0px -2px 9px 0px rgba(50, 50, 50, 0.4);
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
div.box-login p{	
    text-align: center;
    margin-bottom: 5px;
    color: #898989;
    font-weight: 300;
    padding: 5px;
    font-size: 12px;
}

div.box-login p a{
    color: #898989;
    text-decoration: none;
    font-weight: 600;
}

@media screen and (max-width: 1112px){
    div.box-login{
        padding: 3%;
    }
    div.box-login form input[type=submit]{
        margin-bottom: 60px;
    }
}

