/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/08/2018, 15:52:27
    Author     : Amanda
*/
.is-vertical-center {
  display: flex;
  align-items: center;
}
.h100{
    height: 100vh;
    overflow: hidden;
}
.background{
    background: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
   padding: 0;
}
.box-login{
   height: 100%;
   background-color: rgba(0,0,0,.8);
   text-align: center;
   margin: 0;
   padding: 0;
}
.box-login div.box{
    padding: 2.5rem 1.5rem;
}
.logo{
    width: 80%;
    margin-bottom: 1rem;
    display: inline-block;
}
.footer-form, .box-login input[type=submit]{
    margin-top: 1rem;
}
.footer-form{
    font-size: 12px;
}

